:root {
  --altura-navbar: 4.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: 'Inter', sans-serif;
}

section h2, section li {
  margin-bottom: 12px;
  color: #10172a;
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--altura-navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #10172a;
  font-size: 1.1rem;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--altura-navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: rgba(16, 23, 42, 0.85);
  backdrop-filter: blur(8px);
  transition: background 0.3s ease-in-out;
  z-index: 1000;
}

header.scrolled {
  background: rgba(16, 23, 42, 1); /* Más opaco al hacer scroll */
}

#logo {
  display: flex;
  align-items: center;
  gap: 12px;
  /* color: rgb(0, 186, 190); */
  color: #00bcbc;
  /* color: white; */
  /* font-weight: bold; */
  height: 70%;
  max-height: 70%;
}

#logo img {
  height: 100%;
  max-height: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 32px;
  position: relative;
  padding-bottom: 4px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #00bcbc;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

main {
  /* border: 3px solid red; */
  margin-top: var(--altura-navbar);
  height: calc(100vh - var(--altura-navbar));
  /* display: flex; */
  /* flex-direction: column; */
}

section {
  scroll-margin-top: var(--altura-navbar);
  height: 100%;
  padding: 20px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

#section1 {
  /* background: lightcoral; */
  /* background: lightseagreen; */
  background: #00bcbc;
}

.content {
  /* border: 3px solid red; */
  display: flex;
  /* max-width: 900px; */
  width: 90%;
  align-items: center;
  gap: 40px;
}

.content img, .content video {
  width: 60%;
  height: auto;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content.visible img, .content.visible video {
  opacity: 1;
  transform: translateX(0);
}

.content .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section2 {
  background: lightblue;
}

/* Estilos para los detalles colapsables */
details {
  width: 100%;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  /* cursor: pointer; */
  color: #10172a;
  /* border: 1px solid rgba(0,0,0,0.2); */
  transition: all 0.5s ease-in-out;
}

summary {
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  background: #f0f0f0;
  border-radius: 6px;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

details p {
  padding: 8px;
  margin-top: 5px;
  font-size: 1.1rem;
}

summary::after {
  content: "➕";
  font-size: 1.2rem;
  transition: transform 0.5s ease;
}

details[open] summary::after {
  content: "➖";
}

details[open] {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#section3 {
  /* background: lightgreen; */
  background: #00bcbc;
}

#clientes {
  flex-direction: column;
  height: fit-content;
}

.slider {
  width: 100%;
  max-width: 1200px;
  height: 100px;
  position: relative; /* al comentar se pierde transparencia */
  margin: 30px 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider::before,
.slider::after{
  position:absolute;
  background-image:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  content:'';
  width:25%;
  height:100%;
  z-index:2
  ;pointer-events:none;
}

.slider::before{
  top:0;
  left:0;
}

.slider::after{
  top:0;
  right:0;
  transform:rotateZ(180deg);
}

.slider img{
  max-width: 100px;
  max-height: 60px;
}

.slide-track1 {
  width: calc(150px * 46);
  display: flex;
  animation: scroll1 24s linear infinite;
  justify-content: space-between;
}

@keyframes scroll1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-153px * 15));
  }
}

.slide {
  width: 150px;
  height: 60px;
  margin: 0 10px;
  display: grid;
  place-items: center;
  transition:0.5s;
}

.slide img {
  transition: transform 0.3s ease-in-out;
}

.slide:hover img {
  transform: scale(1.4);
}
